* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%; // 1rem =10px; 10px/16px = 62.5%
  
    @include respond(bigger-screen) {
      font-size: 150%;
    }
  
    @include respond(big-screen) {
      font-size: 90%;
    }
  
    @include respond(tab-land) {
      font-size: 56.25%; // 1rem = 9px 9/16= 56.25%
    }
  
    @include respond(tab-port) {
      font-size: 50%; // 1rem = 8px. 8/16 = 50%
    }
    @include respond(phone) {
      font-size: 40%;
    }
  }

  body{
    color: $mainColor;
    font-family: Arial, Helvetica, sans-serif;
}
  
  a{
    color: $secondaryColor;
    text-decoration: none;
    &:link{
        color: $secondaryColor;
    }
}