$mainColor: #2E2E2E; // Primary Color
$secondaryColor: #ffffff; // Seondary Color


// Main Font Color
$mainFontColor: #2e2e2e; 

// Secondary Font Color
$secondaryFontColor: #ffffff;

//Main Background Color
$mainBGColor: #2e2e2e;

// Secondary Background Color
$secondaryBGColor: #ffffff;

// Landing Page
    // Logo Font Size
    $logoFontSize: 3rem;
    // navbar menu link font size
    $linkFontSize: 1.5rem;